.row
  -if !devise_error_messages!.blank?
    .span12
      .alert.alert-error
        = devise_error_messages!
  .span1
  .span8.pane.poll-pane
    .row-fluid
      %h1 Sign Up For Fansensus
      .spacing
    .row
      .span1
      .span5.floatleft.login-first
        %h4 Sign Up With Facebook
        %p [ Recommended ]
        .spacing
        = link_to image_tag('fb_signin.png'), user_omniauth_authorize_path(:facebook), :class =>"fb_signup"
        .spacing
        %ul
          %li See how your friends voted
          %li Answer your friends questions
          %li Easily share your polls with friends
      .span5.floatleft
        %h4 Sign Up
        %p [ The Old Fashioned Way ]
        .spacing
        - newuser = User.new
        = form_for(newuser, :url => registration_path(newuser), :html=> {:class => "form-horizontal"}) do |f|
          .control-group
            = f.text_field :first_name, :class => "input-medium", :placeholder => "First Name"
            = f.text_field :last_name, :class => "input-medium", :placeholder => "Last Name"
            = f.text_field :username, :class => "input-medium", :placeholder => "Username"
            = f.email_field :email, :class => "input-medium", :placeholder => "Email"
            = f.password_field :password, :class => "input-medium", :placeholder => "Password"
            = f.password_field :password_confirmation, :class => "input-medium", :placeholder => "Confirm Password"  
            %p
            = f.check_box :terms_of_service, :class => "checkbox"
            I agree to Fansensus
            = link_to "Terms", tos_path  
            and
            = link_to "Privacy Policy", privacy_path
            =f.submit "Sign up",:class => "btn btn-success btn-large"

