= form_for(@poll) do |f| 
  / =if @poll.errors.any?
  /   .error_explanation
  /     %h2
  /       = pluralize(@poll.errors.count, "error")
  /         prohibited this poll from being saved:
  /     %ul
  /       - @poll.errors.full_messages.each do |msg| 
  /         %li
  /           = msg
  
  = f.label :question 
  = f.collection_select :question, Poll::QUESTION_TYPES, :to_s, :to_s
  %p
  = f.fields_for :poll_options do |builder|
    = render 'poll_options_fields', f:builder
  %p
  = f.label :note
  = f.text_field :note

  = f.submit
  
/   
/ = form_for [@service, @status], :html => {:class => 'form-horizontal'} do |f|
/   .control-group
/     %label Status:
/     .radio.inline
/       - [['Up','The service is up.'], 
/         ['Down', 'The service is down.'],
/         ['Info', 'Provide Information.'],
/         ['Problem', 'The service is experiencing intermittent problems.']].each do |state, msg|  
/         %label
/           = f.radio_button(:state, state)
/           = msg
/   .control-group
/     = f.label "Message:"
/     = f.text_field :message
/   .control-group
/     = f.label "Time:"
/     = f.datetime_select :time
/   .form-actions
/     = f.submit