%h3
  Users Report


.left
  =form_for @player_grid, :html => {:method => :get} do |f| 
    -@player_grid.filters.each do |filter|
      .filter
        = f.datagrid_label filter
        = f.datagrid_filter filter
      .clear

    .filter
      = f.submit

  .total
    Total: 
    = @player_grid.assets.count
  = datagrid_table(@player_grid, @assets)
  = will_paginate @assets

/ .right
/   = render :partial => "shared/source", :object => @player_grid
